parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_path: PATH/TO/SQLITE/DIRECTORY
    database_user: root
    database_pass: ~
    locale: en
    secret: hello
    email.addr: localhost@codebender.dev
    email.pass: localpass
    mykey: ~
    compiler: 'http://compiler.codebender.cc'
    library: 'http://libs.codebender.cc'
    sender: 'http://sender.codebender.cc'
    collab_url: 'http://127.0.0.1:8000/channel'
    collab_seed: '1'
    directory: ~
    islocalhost: true
