<div id="aprilFoolsSpecial">
	<h1>April Fool's Day Special!</h1>
	<p>
		April Fool's Day is being celebrated around the world, and codebender is right here for you all. We've partnered
		with <a href="{{ path('CodebenderStaticBundle_partner', {"name": "arno"}) }}" target="_blank">Olympia Circuits</a>,
		the makers of Arno and
		<a href="{{ path('CodebenderStaticBundle_partner', {"name": "digispark"}) }}" target="_blank">Digistump</a>, the makers
		of Digispark, to offer you two unique pranks for your poor friends.
	</p>
	<p>
		If you have a Digispark, Arno or Arduino Leonardo, go over to our blog, and find out how you can set up a prank
		to drive your unsuspecting family, friends and coworkers crazy!
	</p>
	<p>
		<a class="btn btn-success btn-large btn-block" href="{{ path('CodebenderStaticBundle_partner', {"name": "aprilfools"}) }}">
			Awesome! Take me there!
		</a>
	</p>
</div>


{#
#}