<div class="row-fluid">
	<div class="span12 well">
		{#<button class="close">&times;</button>#}
		<h2>Getting Started</h2>
		<p>Hi there. Thanks for choosing codebender. We would strongly encourage you to follow our
			<a href="{{ path("CodebenderStaticBundle_walkthrough", {"page": 1}) }}">
				Getting Started
			</a>
			guide. It will guide you through the process of installing our plugin, and if it's the first time you follow
			the guide, you will also be rewarded with <strong>50 codebender points</strong>, which you can use to unlock
			extra features or claim codebender swag as gifts.
		</p>
	</div>
</div>
