<!DOCTYPE html>
<html>
<base target="_parent"/>
{% include '::common_javascript.html.twig' %}
{% include '::common_stylesheets.html.twig' %}
<body onload="prettyPrint()" style="background: transparent; padding:0px;">
    {% include 'CodebenderGenericBundle:Default:project_wrapper.html.twig' %}
</body>
</html>
