<!-- <hr class="soften"> -->
<p style="color:#D5D5D5; text-align:center; margin-right: 10%; margin-top: 10px;">
	<iframe allowtransparency="true" frameborder="0" scrolling="no"
	  src="//platform.twitter.com/widgets/follow_button.html?screen_name=codebender_cc&amp;show_count=false"
	  style="width:160px; height:20px; margin-bottom:-5px;"></iframe>
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fcodebender.cc&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=276306429134783" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; margin-bottom: -6px;" allowTransparency="true"></iframe>
	<a href="http://blog.codebender.cc">Blog</a> |
	<a href="https://codebender.cc/static/team">The Team</a> |
	<a href="https://github.com/codebendercc/" target="_blank">Open Source</a> |
	<a href="http://codebender.uservoice.com/knowledgebase" target="_blank">FAQ</a>
</p>
