{% extends 'CodebenderStaticBundle:Partner:skeleton.html.twig' %}

{% block page_header %}Arno{% endblock %}
{% block page_content %}
	<div class="row-fluid">
		<div class="span4">
			<p>
				<img style="border-width:1px; border-style: solid;" src="{{ asset("images/arno.png") }}" alt="Arduino Arno">
			</p>
		</div>
		<div class="span8">
			<p>
				Learning the basics of electronics and programming is challenging. Learning them while juggling piles of
				tiny parts, jumper wires, and breadboards is even more difficult. With the Arno, we've gotten rid of the
				piles of parts. Everything you need to learn Arduino and complete interesting projects in already built
				in. The board comes fully assembled, ready to plug in with the included USB cable. You can focus on
				learning how the circuits work and learning the Arduino language. You can tackle the piles of parts
				once you're ready.
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<p>
			<a href="javascript:void(0);">codebender</a> and
			<a href="http://www.olympiacircuits.com/arno---learn-arduino.html">Olympia Circuits</a> have
			teamed up to create the fastest, easiest way to get started with Arduino! The Arno created by Olympia
			Circuits is an Arduino beginner’s kit-on-a-board. Instead of starting with a pile of electronic parts and
			figuring out the Arduino software, beginners can jump right in to learning electronics and programming with
			codebender and the Arno. Codebender provides a simple web-based interface for programming and the Arno has
			interesting circuits already built into the board. You can plug in the Arno and start interacting with
			single LEDs, a red-green-blue LED, push-buttons, a piezo to make sounds, a digital temperature sensor, a
			thumbwheel potentiometer, and a light sensor. The Arno kit comes with a book that covers the basics of
			electronics and programming and includes over 40 sketches (Arduino programs). You can create your own
			sketches and share them on codebender or see what other users have created.
			The Arno and codebender let you focus on learning how the circuits work and learning the Arduino language.
			You can tackle the piles of parts once you're ready.
		</p>
		<p>
			Check out these reviews for the Arno Kit:
			<ul>
				<li><a href="http://www.wired.com/geekdad/2012/12/arno-arduino/">Wired</a></li>
				<li><a href="http://www.forbes.com/sites/tjmccue/2012/12/18/how-to-program-arduino-the-easy-way-with-arno-kit/">Forbes</a></li>
				<li><a href="http://blog.makezine.com/2013/01/02/announcing-the-arno-kit-an-arduino-compatible-beginner-kit-on-a-board/">Make</a></li>
			</ul>
		</p>
	</div>
{% endblock %}

