{% extends '::container.html.twig' %}
{% block title %}
    {{ site_name }}
{% endblock %}

{% block mainspan %}
    <h1>
        {% block page_header %}{% endblock %}
    </h1>
    <div class="row-fluid">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
