<div id="plugin_div">
    <div id="ports_div">
        <select id="ports" onchange="savePort()"></select>
        <input id="ports_placeholder" style="display: none" type="text" class="form-control" disabled>
    </div>
</div>
