<button id="uploadusb" class="btn" onclick="usbflash()" title="Load your program to your Arduino via USB">
    <i id="upload_icon" class="icon-upload"></i>
    <span id="upload_text"> USB Flash </span>
</button>
