<div class="row-fluid">
	<div class="span4">
		<ul class="thumbnails">
			<li class="span12">
			<div class="thumbnail">
				<img src="{{ asset(developer.image) }}" alt="">
			</div>
			</li>
		</ul>
	</div>
	<div class="span8">
		<h2>{{ developer.name }}<small> {{developer.subtext}}</small></h2>
		<p>{{ developer.description }}</p>
	</div>
</div>
	