<div class="modal hide fade" id="filedeleteModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Are you sure you want to delete this file?</h3>
    </div>
    <div class="modal-body">
        <p>Deleting this file is going to permanently remove it from this project. This action is irreversible. If you
            chose to delete it,itsdata will be irrecoverable. You <strong>WILL BE UNABLE</strong> to restore it.</p>
    </div>
    <div class="modal-footer">
        <a id="cancelfiledeleteButton" data-dismiss="modal" class="btn">Cancel</a>
        <a id="filedeleteButton" href="javascript:void(0);" class="btn btn-danger">
            <i class="icon-trash icon-white"></i> Delete File!
        </a>
    </div>
</div>
