<div class="modal hide fade" id="filenameModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Enter the new filename.</h3>
    </div>
    <div class="modal-body span5">
        <input type="hidden" id="oldFilename">
        <input type="text" id="newFilename">
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <a href="javascript:renameFilename()" class="btn btn-primary"><i class="icon-download icon-white"></i> Save
            Changes</a>
    </div>
</div>
